{% extends "ChronosChronoAdminBundle::layout.html.twig" %}

{% block content_title %}Chrono list{% endblock %}

{% block sub_content %}

<form class="form-horizontal" action="{{ path('chrono_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('chrono_index') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}