{% extends "ChronosChronoAdminBundle::layout.html.twig" %}

{% block content_title %}Chrono Creation{% endblock %}

{% block home_title %}Chrono Creation{% endblock %}

{% block sub_content %}

<form class="form-horizontal" action="{{ path('chrono_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="form-actions">
        <button type="submit" class="btn btn-success">Create</button>
        <button type="reset" class="btn">Cancel</button>
        <a href="{{ path('chrono_index') }}" class="btn">
            <i class="icon-list"></i>
            Back to the list
        </a>
    </div>
{% endblock %}