{% extends "ChronosSecurityBundle::layout.html.twig" %}

{% block content_title %}Login{% endblock %}

{% block body %}

{% if error %}
<div>{{ error.message }}</div>
{% endif %}

<div class="container">
    <div class="content">
        <div class="row">
            <div class="login-form">
                <h2>Login</h2>
                <form action="{{ path('login_check') }}" method="post">
                    <fieldset>
                        <div class="control-group">
                            <input type="text" placeholder="Username" id="username" name="_username" />
                        </div>
                        <div class="control-group">
                            <input type="password" placeholder="Password" id="password" name="_password" />
                        </div>
                        <button class="btn btn-primary" type="submit">Sign in</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div> <!-- /container -->

{% endblock %}