{% extends "ChronosChronoAdminBundle::layout.html.twig" %}

{% block content_title %}RaodState Edit{% endblock %}

{% block home_title %}RaodState Edit{% endblock %}

{% block sub_content %}

<form action="{{ path('roadstate_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}

    <div class="form-actions">
        <a href="{{ path('roadstate') }}" class="btn">
            <i class="icon-list"></i>
            Back to the list
        </a>
        <button type="submit" class="btn btn-success">Edit</button>
</form>
{% include "ChronosChronoAdminBundle:Widgets:roadStateDel.html.twig" %}
<a class="btn btn-danger" href="#delModal" data-toggle="modal">
    <i class="icon-fire icon-white"></i>
    Delete
</a>

</div>

{% endblock %}